* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background: url(nen.jpg) no-repeat center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.card-header {
  background: #e3edf7;
  padding: 30px 20px;
  border: 2px solid red;
  animation: color1 linear infinite 2s;
}

.pic {
  display: inline-block;
  padding: 3px;
  background: linear-gradient(
    130deg,
    #f103dd,
    #5aff00,
    #e90101,
    #00ffd2,
    #fa9900
  );
  margin: auto;
  border-radius: 50%;
  background-size: 200% 200%;
  animation: animated-gradient 2s linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc {
  font-size: 18px;
  color: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a {
  color: black;
  width: 56px;
  font-size: 22px;
  transition: 0.3s linear;
}

.sm a:hover {
  color: #e66767;
}
.lh a {
  color: white;
  font-size: 15px;
  transition: 0.3s linear;
}
.lh {
  border: black solid 1px;
  border-radius: 7px 7px 7px 7px;
  width: 270px;
  height: 50px;
  margin-top: 10px;
  background-color: #1877f2;
}

.lh:hover {
  background: rgb(255, 6, 201);
  color: #f2f2f2;
}

.numbers {
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span {
  display: block;
  color: #2c3a47;
  font-size: 30px;
}



.border {
  width: 1px;
  height: 30px;
  background: #bbb;
}
.name {
  animation: color2 linear infinite 2s;
  text-shadow: 1px 1px 2px black, 0 0 25px green, 0 0 5px darkgreen;
}
@keyframes color2 {
  0%,
  100% {
    color: #00ff6a;
  }
  10% {
    color: #ff9100;
  }

  30% {
    color: #07d8fd;
  }
  60% {
    color: #00ff15;
  }

  90% {
    color: #00faed;
  }
}
@keyframes color3 {
  0%,
  100% {
    color: #f89500;
  }
  10% {
    color: #f50404;
  }

  30% {
    color: #04eeff;
  }
  60% {
    color: #ec0a8e;
  }

  90% {
    color: #f700ff;
  }
}

@keyframes color1 {
  0%,
  100% {
    border-top: 2px solid #f8f05d;
    border-left: 2px solid #f8f05d;
    border-right: 2px solid #00ff06;
    border-bottom: 2px solid #00ff06;
  }
  10% {
    border-top: 2px solid #ff0000;
    border-left: 2px solid #ff0000;
  }

  20% {
    border-top: 2px solid #f1e100;
    border-left: 2px solid #f1e100;
    border-right: 2px solid #9b2121;
    border-bottom: 2px solid #9b2121;
  }
  30% {
    border-top: 2px solid #00f821;
    border-left: 2px solid #00f821;
    border-right: 2px solid #f00b4f;
    border-bottom: 2px solid #f00b4f;
  }

  40% {
    border-top: 2px solid #00faed;
    border-left: 2px solid #00faed;
    border-right: 2px solid #dd0b62;
    border-bottom: 2px solid #dd0b62;
  }
  50% {
    border-top: 2px solid #0061fd;
    border-left: 2px solid #0061fd;
    border-right: 2px solid #5b26ec;
    border-bottom: 2px solid #5b26ec;
  }

  60% {
    border-top: 2px solid #5b26ec;
    border-left: 2px solid #5b26ec;
    border-right: 2px solid #dd0b62;
    border-bottom: 2px solid #dd0b62;
  }
  70% {
    border-top: 2px solid #dd0b62;
    border-left: 2px solid #dd0b62;
    border-right: 2px solid #5b26ec;
    border-bottom: 2px solid #5b26ec;
  }
  /*Nguyễn Anh Tú*/

  80% {
    border-top: 2px solid #f00b4f;
    border-left: 2px solid #f00b4f;
    border-right: 2px solid #0061fd;
    border-bottom: 2px solid #0061fd;
  }
  90% {
    border-top: 2px solid #9b2121;
    border-left: 2px solid #9b2121;
    border-right: 2px solid #f1e100;
    border-bottom: 2px solid #f1e100;
  }
  100% {
    border-top: 2px solid #00ff06;
    border-left: 2px solid #00ff06;
    border-right: 2px solid #f8f05d;
    border-bottom: 2px solid #f8f05d;
  }
}
#h {
  color: white;
  font-weight: 400;
  display: block;
  font-size: 15px;
}

.snow-container{position:fixed;width:100%;max-width:100%;z-index:99999;pointer-events:none;overflow:hidden;top:0;height:100%}
.snow{display:block;position:absolute;z-index:2;top:0;right:0;bottom:0;left:0;pointer-events:none;-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0);-webkit-animation:snow linear infinite;animation:snow linear infinite}
.snow.foreground{background-image:url("https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-large-075d267ecbc42e3564c8ed43516dd557.png");-webkit-animation-duration:15s;animation-duration:10s}
.snow.foreground.layered{-webkit-animation-delay:7.5s;animation-delay:7.5s}
.snow.middleground{background-image:url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-medium-0b8a5e0732315b68e1f54185be7a1ad9.png);-webkit-animation-duration:20s;animation-duration:15s}
.snow.middleground.layered{-webkit-animation-delay:10s;animation-delay:10s}
.snow.background{background-image:url(https://dl6rt3mwcjzxg.cloudfront.net/assets/snow/snow-small-1ecd03b1fce08c24e064ff8c0a72c519.png);-webkit-animation-duration:25s;animation-duration:20s}
.snow.background.layered{-webkit-animation-delay:12.5s;animation-delay:12.5s}
@-webkit-keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}
@keyframes snow{0%{-webkit-transform:translate3d(0,-100%,0);transform:translate3d(0,-100%,0)}100%{-webkit-transform:translate3d(5%,100%,0);transform:translate3d(5%,100%,0)}}
